.bs-configmanager-configpanel-content {
	padding: 10px 10px 10px 20px;
}

.bs-configmanager-configpanel-section {
	margin-bottom: 10px;
}

fieldset.bs-configmanager-configpanel-section {
	border: 1px solid #3e5893;
	margin: 0 0 1em 0;
	padding: 1em;
	line-height: 1.5em;
}

fieldset.bs-configmanager-configpanel-section legend {
	font-weight: bold;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top .oo-ui-fieldLayout-help,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline .oo-ui-fieldLayout-help {
	margin: 0;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
	max-width: unset;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout-body .oo-ui-fieldLayout-header label {
	width: 95%;
}

.tooltip-inner {
	background-color: #fff;
	color: #000;
	border: 1px solid #a2a9b1;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	padding-top: 15px;
	border-radius: 2px;
	transform: translate(-40%,0);
	-webkit-transform: translate(-40%,0);
}
.tooltip .tooltip-arrow {
	z-index: 1;
}
.tooltip .tooltip-arrow::before {
	border-color: white !important;
	background-color: white;
	width: 14px;
	height: 14px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	
}
.tooltip[data-popper-placement="top"] .tooltip-arrow::before {
	border-left: 1px solid #a2a9b1 !important;
	border-top: 1px solid #a2a9b1 !important;
	top: -8px;
}
.tooltip[data-popper-placement="bottom"] .tooltip-arrow::before {
	border-right: 1px solid #a2a9b1 !important;
	border-bottom: 1px solid #a2a9b1 !important;
	top: 0;
}
