.bs-configmanager-configpanel-content {
	padding: 10px 10px 10px 20px;
}

.bs-configmanager-configpanel-section {
	margin-bottom: 10px;
}

fieldset.bs-configmanager-configpanel-section {
	border: 1px solid #3e5893;
	margin: 0 0 1em 0;
	padding: 1em;
	line-height: 1.5em;
}

fieldset.bs-configmanager-configpanel-section legend {
	font-weight: bold;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top .oo-ui-fieldLayout-help,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline .oo-ui-fieldLayout-help {
	margin: 0;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body,
.bs-configmanager-configpanel-section .oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
	max-width: unset;
}

.bs-configmanager-configpanel-section .oo-ui-fieldLayout-body .oo-ui-fieldLayout-header label {
	width: 95%;
}

.tooltip{
	display: inline-block;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	z-index: 0;
	padding: 1rem 0rem;
}

.tooltip-inner {
	background-color: #000000;
	color: white;
	max-width: 60%;
	border-radius: 0;
	border: 2px solid white;
	text-align: left;
}

.tooltip-arrow {
	display: none !important;
}
