<div>
	<div class="toolbar">
		<div class="skeleton left"></div>
		<div class="right">
			<div class="skeleton"></div>
			<div class="skeleton"></div>
		</div>
	</div>

	<div class="search" style="text-align: center;">
		<div class="skeleton input" style="width: 50%; margin: 0 auto;"></div>
	</div>

	<div class="config-cnt">
		<div class="menu column">
			<div class="skeleton" style="width: 80%;"></div>
			<div class="skeleton" style="width: 60%;"></div>
			<div class="skeleton" style="width: 80%;"></div>
			<div class="skeleton" style="width: 80%;"></div>
			<div class="skeleton" style="width: 60%;"></div>
			<div class="skeleton" style="width: 80%;"></div>
		</div>

		<div class="config column">
			<div class="config-box">
				<div class="skeleton title" style="width: 40%;"></div>
				<div class="skeleton medium" style="width: 20%;"></div>
				<div class="skeleton input"></div>
				<div class="skeleton small"></div>
			</div>
			<div class="config-box">
				<div class="skeleton large" style="width: 35%;"></div>
				<div class="skeleton medium" style="width: 50%;"></div>
				<div class="skeleton input"></div>
				<div class="skeleton small"></div>
			</div>
			<div class="config-box">
				<div class="skeleton title" style="width: 40%;"></div>
				<div class="skeleton medium" style="width: 20%;"></div>
				<div class="skeleton input"></div>
				<div class="skeleton small"></div>
			</div>
		</div>
	</div>
</div>